<a name="<%= widget[:identifier] %>"></a>
<dt>
  <%= %|Widget "#{widget[:name].capitalize}"| %>
</dt>
<dd>
  <%= render :file => widget[:filename] %>
</dd>
<dd>
  <pre><code class="lang-markup"><%= widget[:contents] %></code></pre>
</dd>
