<nav>
  <ul>
    <li><a>Widgets</a>
    <ul>
      <%= render :partial => 'widget_link', :collection => @widgets, :as => :widget %>
    </ul>
    </li>
  </ul>
</nav>
<dl>
  <%= render :partial => 'widget', :collection => @widgets %>
</dl>
