<nav>
  <ul>
    <li><a>Widgets</a>
      <ul>
        <%= render :partial => 'widget_link', :collection => @widgets, :as => :widget %>
      </ul>
    <li><a>Width</a>
      <ul id='width-options'>
        <li class='width-option' data-width='320px'>320</li>
        <li class='width-option' data-width='480px'>480</li>
        <li class='width-option' data-width='748px'>748</li>
        <li class='width-option' data-width='960px'>960</li>
        <li class='width-option' data-width='1024px'>1024</li>
        <li class='width-option' data-width='1280px'>1280</li>
        <li class='width-option' data-width='640px'>iPhone</li>
        <li class='width-option' data-width='100%'>Full</li>
      </ul>
    </li>
  </ul>
</nav>
<dl>
  <%= render :partial => 'widget', :collection => @widgets %>
</dl>
