<!DOCTYPE html>
<html id="styleguide_rails">
<head>
  <title>Application Style Guide</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
<%= yield %>
</body>
</html>
